<!DOCTYPE html>
<html lang="en">

<head>
    <title>AAARummy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.23/css/uikit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.23/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.23/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
</head>

<body>

        <div class="uk-card uk-card-default uk-card-body uk-width-expand ">
                <div class="uk-flex uk-flex-center@m uk-flex-left@l">
                    <h2>LOGO</h2>
                </div>
                
                <div class="uk-flex uk-flex-center@m uk-flex-right@l" >

                        <p><span class="uk-badge">100</span> people online</p>
                    <button class="uk-button uk-button-large uk-button-primary">Download app</button>
               
                </div>
            </div>
    <div class="uk-section uk-section-small uk-section-muted" uk-height-viewport>
        <div class="uk-container uk-container-large">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2 uk-margin" uk-grid>
                <div style="z-index: 99999" class="uk-card-media-left uk-cover-container uk-child-width-2-3 ">
                    <img src="images/light.jpg" alt="" uk-cover>
                    <canvas width="600" height="300"></canvas>
                </div>

                <div class="uk-card-body uk-cover-container uk-child-width-1-3 ">
                    <div class="uk-width-expand uk-card uk-card-default uk-card-body uk-box-shadow-large">
                        <h3 class="uk-card-title uk-text-center">Create Account</h3>
                        <br>
                        <% if (error && error.length > 0) { %>
                        <div class="uk-alert-danger" uk-alert>
                            <a class="uk-alert-close" uk-close></a>
                            <p>
                                <%= error %>
                            </p>
                        </div>
                        <% } %>
                        <p uk-margin>
                            <!--<button class="uk-button uk-button-secondary uk-button-small uk-width-1-1" >Large button</button>-->
                            <a href="/auth/google"><button class="fluid ui google plus button">
                                    <i class="google plus icon"></i>
                                    Google Plus
                                </button></a>
                            <br>

                        </p>
                        <hr class="uk-divider-icon">
                        <form method="POST" action="/signup">

                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                    <input name="username" class="uk-input uk-form-large" type="text" placeholder="Enter your username"
                                        required>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: phone"></span>
                                    <input name="contact" class="uk-input uk-form-large" type="number" placeholder="Enter your Contact"
                                        required>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <div class="uk-inline uk-width-1-1">
                                    <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                    <input class="uk-input uk-form-large" type="password" name="password" placeholder="Enter your password"
                                        required>
                                </div>
                            </div>
                            <div class="uk-margin">
                                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Sign Up</button>
                            </div>
                        </form>
                        <h4 class="ui horizontal divider header">
                            Already registered?
                        </h4>
                        <div class="uk-text-small uk-text-center">
                            <a href="/login"><button class="uk-button uk-button-primary uk-button-small uk-width-1-1">Login</button></a>
                        </div>
                    </div>
                </div>
            </div>
   </div>
   </div>
   
</body>

</html>