.cashnav{
  padding-right: 40px;
}
.profilenav{
  padding-right: 40px;
}
.addnav a{
  padding-right: 30px;
}
.add{
  padding-left: 10px;
}
.headnav{
  font-size: 20px;
}

.uk-margin a{
   text-align:center;
}
.navlogo{
  margin-top: -22px;
  width:9vw;
  height:9vh;
}
.profile:hover{
  cursor: pointer;
}
.navh{
  height:13vh;
}
.ulc{
  padding-left: 30%;
}
.ulcs{
  padding-left: 40%;
}
.ug{
  background-color: #2ecc72;
}
.modaladd h2{
  color:white;
}
.modaladd a{
  color:white;
}
.ug th{
  color: black;
}
.closebtn{
  color: white;
}
