<div class="uk-grid">
    <div class="uk-width-1-5 buttonleft">
        <button id="b1" class="uk-button uk-button-default  uk-margin-left uk-margin-top" (click)="firstClick()" style="width:92%;">Cash games</button><br>
        <button id="b2" class="uk-button uk-button-default  uk-margin-left uk-margin-top" (click)="secondClick()" style="width:92%;">Tournaments</button><br>
        <button id="b3" class="uk-button uk-button-default  uk-margin-left uk-margin-top" (click)="thirdClick()" style="width:92%;">Practice</button><br>
        <button id="b4" class="uk-button uk-button-default  btng uk-margin-top" (click)="fourthClick()" style="width:72%;">Game 1</button><br>
        <button id="b5" class="uk-button uk-button-default  btng uk-margin-top" (click)="fifthClick()" style="width:72%;">Game 2</button><br>
        <button id="b6" class="uk-button uk-button-default  btng uk-margin-top" (click)="sixthClick()" style="width:72%;">Game 3</button><br>
    </div>
  </div>
