<div class="uk-grid backcard1">
    <div class="uk-width-1-5 buttonleft">
      <div uk-switcher="animation: uk-animation-fade; toggle: > *">
        <button class="uk-button uk-button-default  uk-margin-left uk-margin-top" style="width:92%;">Cash games</button><br>
        <button class="uk-button uk-button-default  uk-margin-left uk-margin-top" style="width:92%;">Tournaments</button><br>
        <button class="uk-button uk-button-default  uk-margin-left uk-margin-top" style="width:92%;">Practice</button><br>
        <button class="uk-button uk-button-default  btng uk-margin-top" style="width:72%;">Game 1</button><br>
        <button class="uk-button uk-button-default  btng uk-margin-top" style="width:72%;">Game 2</button><br>
        <button class="uk-button uk-button-default  btng uk-margin-top" style="width:72%;">Game 3</button><br>
      </div>
    </div>
</div>
