.imgh
{
  position: absolute;
  margin-top: 482px;
  margin-left: 6%;
}
.imghml{
  margin-left: 40px;
  margin-top: 5%;
}
.cardrl{
  margin-top: 22px;
  margin-right: 25px;
}
.dot {
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.text {
  margin-top: 2px;
  font-size: 30px;
  color: Green;
  margin-left: 13px;
}
.hwct{
  text-align:left;
}
.hwct2{
  text-align:center;
}
.hwct2{
  text-align:right;
}
.cm1{
  text-align: justify;
  text-align-last: center;
}
.imgs
{
  height: 900px;
}
.lohh3{
  font-size: 40px;
}
.lohp{
  font-size: 25px;
}
.lohp1{
  font-size: 15px;
}
.in1{
  width: 100%;
}
.imgs1{
  height: 420px;
}



.uk-list{
  text-align:justify;
}
.uk-margin-small-right{
  color:green;
}
.fc_fr, .sc_fr, .tc_fr,{
  width:345px;
  height:320px;
}
.fc_sr, .sc_sr, .tc_sr {
  width:345px;
  height:320px;
}

.sec_head{
  margin-top:50px;
}
.thrd_head{
  margin-top:50px;
}

.inner_head1{
  font-weight:bold;
}
.inner_head2{
  font-weight:bold;
}
.inner_head3{
  font-weight:bold;
}
.inner_head4{
  font-weight:bold;
}
.inner_head5{
  font-weight:bold;
}
.inner_head6{
  font-weight:bold;
}


.cards1{
  background-color: yellow;
  border: 2px solid yellow;
  border-radius: 12px;
}
.ics1{
  font-size: 20px;
}
.ncs{
  font-size: 25px;
}
.ptmt{
  margin-top: 6px;
}
.ptmtb{
  margin-top:30px;
}
.swc1 a{
  font-size: 30px;
}
.bsc{
  margin-top: 30px;
}
.wucush{
  margin-top: 30px;

}
.wucush1{
  font-size: 50px;
}
.btns1{
  background-color: green;
}
.btnsp1{
  color: white;
  font-size: 20px;
}
.tourbsi1{
  margin-left: 20%;
}
@media screen and (min-device-width: 281px) and (max-device-width: 768px) {
   .comh2{
     margin-top: 20px;
     margin-left: 10px;
     margin-right: 10px;
   }
   .comh1{
     margin-top: 20px;
     margin-left: 10px;
     margin-right: 10px;
   }
   .comh3{
     margin-top: 20px;
     margin-left: 10px;
     margin-right: 10px;
   }
}
.foothead{
  background-color: #6351CE;
  color: white;
}
.footheadi{
  color: white;
}
.footbody{
  background-color: #1C2331;
  color: white;
}
.nj{
  color: red;
}
.footbodycon{
  text-decoration: none;
  color: white;
}
.textunder:hover
{
  text-decoration: none;
}
.footerheadings{
  color: white;
  font-size: 25px;
}
.footend{
  background-color: #161C27;
}
.footendh{
  color: white;
}
.footstarth{
  text-align: justify;
  text-align-last:center;
}
