<div class="backcard1">
   <div class="uk-grid" style="margin-left:15px;">
     <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-6 card1mid" style="width:22%; margin:30px 10px 10px 25px; height:360px; border-radius:15px;">
       <div class="uk-card-media-top">
         <img src="assets/img/card1.jpg" alt="image of game">
       </div>
       <div class="uk-card-body">
         <div class="uk-flex uk-flex-center buttonselect"><a class="uk-button uk-button-primary" routerLink="/game" style="border-radius:10px;">Select</a></div>
       </div>
     </div>
     <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-6 card1mid" style="width:22%; margin:30px 10px 10px 9px; height:360px; border-radius:15px;">
       <div class="uk-card-media-top">
         <img src="assets/img/card2.jpg" alt="image of game">
       </div>
       <div class="uk-card-body">
         <div class="uk-flex uk-flex-center buttonselect"><a class="uk-button uk-button-primary" routerLink="/game" style="border-radius:10px;">Select</a></div>
       </div>
     </div>
     <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-6 card1mid" style="width:22%; margin:30px 10px 10px 9px; height:360px; border-radius:15px">
       <div class="uk-card-media-top">
         <img src="assets/img/deal.jpg" alt="image of game">
       </div>
       <div class="uk-card-body">
         <div class="uk-flex uk-flex-center buttonselect"><a class="uk-button uk-button-primary" routerLink="/game" style="border-radius:10px;">Select</a></div>
       </div>
     </div>
     <div class="uk-card uk-card-default uk-card-hover uk-card-body uk-width-1-6 card1mid" style="width:22%; margin:30px 10px 10px 9px; height:360px; border-radius:15px;">
       <div class="uk-card-media-top">
         <img src="assets/img/point.jpg" alt="image of game">
       </div>
       <div class="uk-card-body">
         <div class="uk-flex uk-flex-center buttonselect"><a class="uk-button uk-button-primary" routerLink="/game" style="border-radius:10px;">Select</a></div>
       </div>
     </div>
   </div>
 </div>
